@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
}

body {
	align-items: center;
	background: #1e2329;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-top: 10%;
	min-height: 100vh;
}

.title {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-bottom: 5rem;
	text-align: center;
}

.title > h1 {
	color: #fff;
	font-size: 3.5rem;
	font-weight: 300;
}

#time {
	color: #fff;
	display: flex;
	gap: 40px;
}

#time > .circle {
	align-items: center;
	display: flex;
	height: 150px;
	justify-content: center;
	position: relative;
	width: 150px;
}

#time > .circle > svg {
	height: 150px;
	position: relative;
	transform: rotate(270deg);
	width: 150px;
}

#time > .circle > svg > circle {
	fill: transparent;
	height: 100%;
	stroke-width: 4;
	stroke: #191919;
	transform: translate(5px, 5px);
	width: 100%;
}

#time > .circle > svg > circle:nth-child(2) {
	stroke: var(--clr);
	stroke-dasharray: 440;
}

#time div {
	font-size: 1.5em;
	font-weight: 500;
	position: absolute;
	text-align: center;
}

#time div span {
	font-size: 0.35em;
	font-weight: 300;
	letter-spacing: 0.1em;
	position: absolute;
	text-transform: uppercase;
	transform: translateX(-50%) translateY(-50%);
}

#time .ap {
	font-size: 1em;
	position: relative;
	transform: translateX(-20px);
}

.dots {
	display: flex;
	height: 100%;
	justify-content: center;
	position: absolute;
	width: 100%;
	z-index: 10;
}

.dots::before {
	background: var(--clr);
	border-radius: 50%;
	box-shadow: 0 0 10px var(--clr), 0 0 60px var(--clr);
	content: '';
	height: 15px;
	position: absolute;
	top: -3px;
	width: 15px;
}
